@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #232324;
}

header {
    background-color: #232324;
    color: white;
}

.heading1-splash {
    color: #1FB0F5;
    font-weight: 700;
    font-size: 3rem;
}

.mui-col-md-12 {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.far,
.fas {
    padding-top: 1.5rem;
    font-size: 1rem;
    color: #1fb1f4;
 
}

.rating h3{
 
    font-size: rem;
}



/* sanae's css */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(237, 240, 243);
    margin: 2rem auto; /* 15% from the top and centered */
    padding: 0 ;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /*image css */
  .image img{
    max-width: 100%;
    height: auto;
    display: block;
    

  }