@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #232324;
}

header {
    background-color: #232324;
    color: white;
}

.heading1-splash {
    color: #1FB0F5;
    font-weight: 700;
    font-size: 3rem;
}

.mui-col-md-12 {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.far,
.fas {

    font-size: 1rem;
    color: #1fb1f4;

}



/* sanae's css */
.fa-hand-holding-water {
    font-size: 5rem;
}

.fa-times-circle,
.fa-check,
.reporttext {
    float: right;
}

.fa-check,
.mui--text-dark {
    padding: 0.5rem 0 0.5rem 0;
}

.stars {
    padding-top: 1.5rem;
}

.rating h3 {

    font-size: 1rem;
    float: right;
    font-weight: 700;
}

.check-off {
    color: #232324;
}

.image {
    height: 40%;
}

.checked {
    color: #1fb1f4;
    font-weight: 700;
}

.notification,
.reporttext {
    padding-top: 1rem;
}

.reporttext {
    color: #1fb1f4;
    font-weight: 700;
}

.mui-divider {
    margin: 0 1rem 0 1rem;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

    background-color: rgb(237, 240, 243);
    margin: 2rem auto;
    /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

.modal-image {
    background-color: white;
    width: 100%;
    height: 20%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*image css */
.image img {
    max-width: 100%;
    height: auto;
    display: block;


}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 70%;

    }
}

@media only screen and (max-width: 550px) {
    .modal-content {
        width: 90%;

    }
}



/* Chi's CSS */
.rating-padding {
    display: block;
    text-indent: 3rem;
}

.rating-text {
    font-weight: 700;
    font-size: 2rem;
    vertical-align: middle;
}

.check-button {
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Elena's style */
.mui-appbar {
    background-color: #232324;
    height: 36px; 
}

.mui-col-md-8 {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.mui--text-subhead , .mui--text-body2{
    color: white;
}

.mui--appbar-height, .mui-appbar, .mui--appbar-min-height {
    height:36px;
 /*   min-height: 36px; */
}

.fa-toggle-on {
    height: 1rem;
   }

.oasis_icons {
    color: white;
    font-size: 1.5rem;
}
.table-oasis {
    border: none;
}
.responsive {
    width: 100%;
    height: auto;
  }