@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #232324;
    color: white;
}

header {
    background-color: #232324;
    color: white;
}

.heading1-splash {
    color: #1FB0F5;
    font-weight: 700;
    font-size: 3rem;
}

.intro {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.mui-btn.mui-btn--flat.spl--text-btn,
.mui-btn.mui-btn--flat.spl--text-btn-2 {
    color: #1FB0F5;
    background-color: transparent;
}

.mui-btn.mui-btn--flat.spl--text-btn:hover,
.mui-btn.mui-btn--flat.spl--text-btn:focus,
.mui-btn.mui-btn--flat.spl--text-btn:active {
    color: white;
}
.mui-btn.mui-btn--flat.spl--text-btn-2:hover,
.mui-btn.mui-btn--flat.spl--text-btn-2:focus,
.mui-btn.mui-btn--flat.spl--text-btn-2:active {
    color: #232324;
}

.spl--pt {
    padding-top: 1.5rem;
}
.spl--pb {
    padding-bottom: 1.5rem;
}
.spl--mt {
    margin-top: 1.5rem;
}
.spl--mb {
    margin-bottom: 1.5rem;
}
.spl--mb {
    margin-bottom: 1.5rem;
}


.far,
.fas {

    font-size: 1rem;
    color: #1fb1f4;

}

.image {
    width: 100%;
    height: auto;
}

.rating {
    display:flex;
    align-items: center;
}
.rating h3 {
    margin: 0;
    padding-right: 2rem;
}


/* sanae's css */
.fa-hand-holding-water {
    font-size: 5rem;
}

.fa-check,
.mui--text-dark {
    padding: 0.5rem 0 0.5rem 0;
}

.stars {
    padding-top: 1.5rem;
}

.spl-form {

    color: #232324;
}

.spl-detail-btn {
    padding-right: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #e5e5e5;
    margin: 2rem auto;
    width: 50%;
    color:  #232324;
}

.modal-image {
    background-color: white;
    width: 100%;
    height: 20%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*image css */
.image img {
    max-width: 100%;
    height: auto;
    display: block;


}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 70%;

    }
}

@media only screen and (max-width: 550px) {
    .modal-content {
        width: 90%;

    }
}



/* Chi's CSS */
.rating-padding {
    display: block;
    text-indent: 3rem;
}

.rating-text {
    font-weight: 700;
    font-size: 2rem;
    vertical-align: middle;
}

.check-button {
    font-size: 1.5rem;
    vertical-align: middle;

}

/* Elena's style */
.mui-appbar {
    background-color: #232324;
    height: 36px;
}

.mui--text-subhead,
.mui--text-body2 {
    color: white;
}

.mui--appbar-height,
.mui-appbar,
.mui--appbar-min-height {
    height: 36px;
    /*   min-height: 36px; */
}

.fa-toggle-on {
    height: 1rem;
}

.oasis_icons {
    color: white;
    font-size: 1.5rem;
}

.table-oasis {
    border: none;
}

.mui-btn--flat {
    text-size-adjust: 50%;

}